extends layout 

block content 

    h1= title 
    
    .items 
        for item in items 
            .item
                h2 #{item.name}
                p $#{item.price}
                if item.description != null 
                    p #{item.description}
            .item-instances 

            
            hr                
