extends layout

block content
  h1= title
  div.hero
    p Welcome to #[em Local Resturant], this is a demo site of a resturant menu/inventory website.
    p This is built using Express.
  div.menu
    for category in categories 
      h2 #{category.name}
      div.items
        
      hr
