extends layout 

block content 

    h1 #{instance.item.title}

    .instance-details 

        p Status: #{instance.status}
        p Time Made: #{instance.date_time}
    
    hr
    p
        a(href=instance.url+'/delete') Delete Instance