extends layout 

block content 
    for item in item_info
        h1 #{item.title}

        .details 
            p Price: #{item.price} 
            if item.description 
                p Description: #{item.description} 
            else 
                p Description: No Description provided 
            